$color-white: #fff;
$color-blue: #74b9ff;
$color-dark-blue: #0984e3;
$color-blue-highlighted: #09aff4;
$color-gray: #5e5e5e;
$color-dark-gray: #2d3436;

$completed: #22c55e;
$inprogress: #c2a500;

$backgroundLIGHT: #dfe6e9;
$backgroundDARK: #2d394b;
$shadow: #0000003d;
$shadow--mobile: #00000017;